{% extends "base.html" %}
{% block title %}DELETE MATÉRIEL{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form method="POST" action="{{ url_for('materiel_delete') }}">

                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Matériel</th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tr>
                            <td><input type="hidden" name="id_materiel_delete_html" value="{{ row.id_Materiel }}"></td>
                            <td>{{ row.Matos_Materiel }}</td>
                            <td><button class="btn btn-danger" type="submit">EFFACER</button></td>
                        </tr>
                    {% endfor %}
                </table>
            </form>
        </div>
    </div>
</div>

{% endblock %}