{% extends "base.html" %}
{% block title %}Afficher MATÉRIEL{% endblock %}
{% block body %}
<br>
<br>
<br>
<div class="container">
    <div class="col-md-12">
        <table class="table table-bordered table-sm">
        {% if data %}
            <thead>
                <tr>
                    <th class="align-middle">
                        ID
                    </th>
                    <th class="align-middle">
                        Matériel
                    </th>
                </tr>
            </thead>
            {% endif %}

            {% for row in data %}
            <tbody>
                <tr>
                    <td class="align-middle">
                        {{ row.id_Materiel }}
                    </td>
                    <td class="align-middle">
                        {{ row.Matos_Materiel }}
                    </td>

                    <td class="align-middle">
                        <a class="btn btn-primary" href="{{ url_for('materiel_add') }}" role="button">Add</a>
                    </td>
                    <td class="align-middle">
                        <a class="btn btn-warning" href="{{ url_for('materiel_edit', id_materiel_edit_html=row.id_Materiel) }}" role="button">Edit</a>
                    </td>
                    <td class="align-middle">
                        <a class="btn btn-danger" href="{{ url_for('materiel_select_delete', id_materiel_delete_html=row.id_Materiel) }}" role="button">Delete</a>
                    </td>
                </tr>

            </tbody>
            {% else %}
            <tbody>
                <tr>
                    <td>
                        Aucun matériel.
                    </td>
                    <td>
                        <a class="btn btn-primary" href="{{ url_for('materiel_add') }}" role="button">Add</a>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}