{% extends "base.html" %}
{% block title %}Update Matériel{% endblock %}
{% block body %}
<div class="container">
    <div class="col-md-12">
        <form method="POST" action="{{ url_for('materiel_update') }}">
            <div>

            </div>
            <br>
            <table class="table table-bordered table-sm">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Matériel</th>
                    </tr>
                </thead>
                {% for row in data %}
                    <tr>
                        <td><input name="id_materiel_edit_html" type="hidden" value="{{ row.id_Materiel }}"></td>
                        <td><input type="text" name="name_edit_nom_materiel_html" value="{{ row.Matos_Materiel }}"> </td>
                        <td><button class="btn btn-warning" type="submit">Update</button> </td>
                    </tr>
                {% endfor %}
            </table>
        </form>
    </div>
</div>

{% endblock %}