{% extends "base.html" %}
{% block title %} Ajouter un EXERCICE {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p style="margin-top: 10%">
                Entrer un nouveau matériel
            </p>
            <form method="post">
                <div class="form-group">
                    <label for="Matos_materiel">
                        Matériel
                    </label>
                    <input type="text" class="form-control" name="matos_materiel_html" />
                </div>
                <button type="submit" class="btn btn-primary">
                    Enregistrer le matériel
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
