{% extends "base.html" %}
{% block title %} Homepage {% endblock %}
{% block body %}
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<h4>Home page</h4>

<h1>Gestion des exercices au tennis de table</h1>
    <p> Bienvenue dans ce projet qui va permettre de gérer une base de données consacrée aux
        différents exercices que l'on peut retrouver au tennis de table.
    </p>
    <p>
        Vous aurez la possibilité de gérer :
    </p>

    <ul>
      <li> Les exercices</li>
      <li> Les types d'exercices (niveau, attaques, défenses,...)</li>
      <li> Les entraîneurs</li>
      <li> Le matériel utiles aux exercices</li>
    </ul>
{% endblock %}