{% extends "base.html" %}
{% block title %}DELETE MATÉRIEL{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form method="POST" action="{{ url_for('personne_delete') }}">

                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Date de naissance</th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tr>
                            <td><input type="hidden" name="id_personne_delete_html" value="{{ row.id_personne }}"></td>
                            <td>{{ row.nom_personne }}</td>
                            <td>{{ row.prenom_personne }}</td>
                            <td>{{ row.dateNaissance_personne }}</td>
                            <td><button class="btn btn-danger" type="submit">EFFACER</button></td>
                        </tr>
                    {% endfor %}
                </table>
            </form>
        </div>
    </div>
</div>

{% endblock %}