{% extends "base.html" %}
{% block title %} Ajouter une PERSONNE {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p style="margin-top: 10%">
                Entrer une nouvelle personne
            </p>
            <form method="POST">
                <div class="form-group">
                    <label id="name_personne">
                        Nom
                    </label>
                    <input type="text" class="form-control" name="name_personne_html" />
                    <label id="firstname_personne">
                        Prénom
                    </label>
                    <input type="text" class="form-control" name="firstname_personne_html" />
                    <label id="dateOfBirth_personne">
                        Date de Naissance (YYYY-MM-DD)
                    </label>
                    <input type="date" class="form-control" name="dateOfBirth_personne_html" />
                </div>
                <button type="submit" class="btn btn-primary">
                    Enregistrer la personne
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
