{% extends "base.html" %}
{% block title %}Update Personne{% endblock %}
{% block body %}
<div class="container">
    <div class="col-md-12">
        <form method="POST" action="{{ url_for('personne_update') }}">
            <div>

            </div>
            <br>
            <table class="table table-bordered table-sm">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Date de naissance</th>
                    </tr>
                </thead>
                {% for row in data %}
                    <tr>
                        <td><input name="id_personne_edit_html" type="hidden" value="{{ row.id_personne }}"></td>
                        <td><input type="text" name="name_edit_name_personne_html" value="{{ row.nom_personne }}"> </td>
                        <td><input type="text" name="name_edit_firstname_personne_html" value="{{ row.prenom_personne }}"> </td>
                        <td><input type="date" name="name_edit_dateOfBirth_personne_html" value="{{ row.dateNaissance_personne }}"> </td>
                        <td><button class="btn btn-warning" type="submit">Update</button> </td>
                    </tr>
                {% endfor %}
            </table>
        </form>
    </div>
</div>

{% endblock %}