{% extends "base.html" %}
{% block title %}Afficher MATÉRIEL{% endblock %}
{% block body %}
<br>
<br>
<br>
<div class="container">
    <div class="col-md-12">
        <table class="table table-bordered table-sm">
        {% if data %}
            <thead>
                <tr>
                    <th class="align-middle">
                        ID
                    </th>
                    <th class="align-middle">
                        Nom
                    </th>
                    <th class="align-middle">
                        Prénom
                    </th>
                    <th class="align-middle">
                        Date de naissance
                    </th>
                </tr>
            </thead>
            {% endif %}

            {% for row in data %}
            <tbody>
                <tr>
                    <td class="align-middle">
                        {{ row.id_personne }}
                    </td>
                    <td class="align-middle">
                        {{ row.nom_personne }}
                    </td>
                    <td class="align-middle">
                        {{ row.prenom_personne }}
                    </td>
                    <td class="align-middle">
                        {{ row.dateNaissance_personne }}
                    </td>

                    <td class="align-middle">
                        <a class="btn btn-primary" href="{{ url_for('personne_add') }}" role="button">Add</a>
                    </td>
                    <td class="align-middle">
                        <a class="btn btn-warning" href="{{ url_for('personne_edit', id_personne_edit_html=row.id_personne) }}" role="button">Edit</a>
                    </td>
                    <td class="align-middle">
                        <a class="btn btn-danger" href="{{ url_for('personne_select_delete', id_personne_delete_html=row.id_personne) }}" role="button">Delete</a>
                    </td>
                </tr>

            </tbody>
            {% else %}
            <tbody>
                <tr>
                    <td>
                        Aucune personne.
                    </td>
                    <td>
                        <a class="btn btn-primary" href="{{ url_for('personne_add') }}" role="button">Add</a>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}