{% extends "base.html" %}
{% block title %} Afficher MATERIEL EXERCICE {% endblock %}
{% block body %}
<div class="container">
    <div class="col-md-12">
        <table class="table table-responsive-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="">
                            ID
                        </th>
                        <th class="">
                            Nom
                        </th>
                        <th class="">
                            Prénom
                        </th>
                        <th class="">
                        N° Licence
                        </th>
                    </tr>
                </thead>
            {% endif %}
            {% for row in data %}
            <tbody>
                <tr>
                        <th class="align-middle">
                            {{ row.id_personne }}
                        </th>
                        <th class="align-middle">
                            {{ row.nom_personne}}
                        </th>
                        <th class="align-middle">
                            {{ row.prenom_personne }}
                        </th>
                        <th class="align-middle">
                            {{ row.dateNaissance_personne }}
                        </th>
                        <th class="align-middle">
                            <a class="btn btn-primary" href="{{ url_for('personne_add') }}" role="button">Ajouter</a>
                        </th>
                        <th class="align-middle">
                            <a class="btn btn-warning" href="{{ url_for('personne_edit', id_personne_edit_html=row.id_personne) }}" role="button">Edit</a>
                        </th>
                        <th class="align-middle">
                            <a class="btn btn-danger" href="{{ url_for('personne_select_delete', id_personne_delete_html=row.id_personne) }}" role="button">Delete</a>
                        </th>
                    <tr>
                        <td class="align-middle">
                            <a class="btn btn-warning" href="{{ url_for('gf_edit_personne_entraineur_selected', id_personne_entraineur_edit_html=row.id_personne)}}" role="button">Modifier</a>
                        </td>
                        <td class="align-middle" colspan="5">
                            {{ row.personneEntraineur|default("PAS DE GENRES 42", True) }}
                        </td>
                    </tr>
                </tr>
            </tbody>
			{% else %}
				<tbody>
					<tr>
						<td>
							Aucun film.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('personne_add') }}" role="button">Add</a>
						</td>
					</tr>
				</tbody>
			{% endfor %}
        </table>
    </div>
</div>
{% endblock %}

