{% extends "base.html" %}
{% block title %} Afficher MATERIEL EXERCICE {% endblock %}
{% block body %}
<div class="container">
    <div class="col-md-12">
        <table class="table table-responsive-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="">
                            ID
                        </th>
                        <th class="">
                            Visuel
                        </th>
                        <th class="">
                            Nom
                        </th>
                        <th class="">
                            Description
                        </th>
                    </tr>
                </thead>
            {% endif %}
            {% for row in data %}
            <tbody>
                <tr>
                        <th class="align-middle">
                            {{ row.id_Exercice }}
                        </th>
                        <th class="align-middle">
                            <img class="img-thumbnail" src={{ row.Visuel_Exercice|default(None,True) }} style="border: 0;" alt = "Covid-19 grand semi-confinement mod 104">
                        </th>
                        <th class="align-middle">
                            {{ row.Nom_Exercice }}
                        </th>
                        <th class="align-middle">
                            {{ row.Description_Exercice|default("", True) }}
                        </th>
                        <th class="align-middle">
                            <a class="btn btn-primary" href="{{ url_for('exercice_add') }}" role="button">Ajouter</a>
                        </th>
                        <th class="align-middle">
                            <a class="btn btn-warning" href="{{ url_for('exercice_edit', id_exercice_edit_html=row.id_Exercice) }}" role="button">Edit</a>
                        </th>
                        <th class="align-middle">
                            <a class="btn btn-danger" href="{{ url_for('exercice_select_delete', id_exercice_delete_html=row.id_Exercice) }}" role="button">Delete</a>
                        </th>
                    <tr>
                        <td class="align-middle">
                            <a class="btn btn-warning" href="{{ url_for('gf_edit_materiel_exercice_selected', id_exercice_materiel_edit_html=row.id_Exercice)}}" role="button">Modifier</a>
                        </td>
                        <td class="align-middle" colspan="5">
                            {{ row.MaterielExercice|default("PAS DE GENRES 42", True) }}
                        </td>
                    </tr>
                </tr>
            </tbody>
			{% else %}
				<tbody>
					<tr>
						<td>
							Aucun film.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('exercice_add') }}" role="button">Add</a>
						</td>
					</tr>
				</tbody>
			{% endfor %}
        </table>
    </div>
</div>
{% endblock %}

