{% extends "base.html" %}
{% block title %}Edit TYPE{% endblock %}
{% block body %}
<div class="container">
    <div class="col-md-12">
        <form method="POST" action="{{ url_for('type_update') }}">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>ID Type</th>
                            <th>Nom Type</th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tr>
                            <td><input type="hidden" name="id_type_edit_html" value="{{ row.id_TypeExercice }}"></td>
                            <td><input type = "text" name = "name_edit_intitule_type_html" value="{{ row.Type_TypeExercice }}"/></td>
                            <td><button class="btn btn-warning" type="submit">Update</button></td>
                        </tr>
                    {% endfor %}
                </table>
            </form>
    </div>
</div>

{% endblock %}