{% extends "base.html" %}
{% block title %}DELETE ENTRAÎNEUR{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form method="POST" action="{{ url_for('entraineur_delete') }}">

                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>N° Licence</th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tr>
                            <td><input type="hidden" name="id_entraineur_delete_html" value="{{ row.id_Entraineur }}"></td>
                            <td>{{ row.Nom_Entraineur }}</td>
                            <td>{{ row.Prenom_Entraineur }}</td>
                            <td>{{ row.NumeroJS_Entraineur }}</td>
                            <td><button class="btn btn-danger" type="submit">EFFACER</button></td>
                        </tr>
                    {% endfor %}
                </table>
            </form>
        </div>
    </div>
</div>

{% endblock %}