{% extends "base.html" %}
{% block title %}Afficher ENTRAINEUR{% endblock %}
{% block body %}
<br>
<br>
<br>
<div class="container">
    <div class="col-md-12">
        <table class="table table-bordered table-sm">
        {% if data %}
            <thead>
                <tr>
                    <th class="align-middle">
                        ID
                    </th>
                    <th class="align-middle">
                        Nom
                    </th>
                    <th class="align-middle">
                        Prénom
                    </th>

                    <th class="align-middle">
                        N° Licence
                    </th>

                </tr>
            </thead>
            {% endif %}

            {% for row in data %}
            <tbody>
                <tr>
                    <td class="align-middle">
                        {{ row.id_Entraineur }}
                    </td>
                    <td class="align-middle">
                        {{ row.Nom_Entraineur }}
                    </td>
                    <td class="align-middle">
                        {{ row.Prenom_Entraineur }}
                    </td>
                    <td class="align-middle">
                        {{ row.NumeroJS_Entraineur }}
                    </td>


                    <td class="align-middle">
                        <a class="btn btn-primary" href="{{ url_for('entraineur_add') }}" role="button">Add</a>
                    </td>
                    <td class="align-middle">
                        <a class="btn btn-warning" href="{{ url_for('entraineur_edit', id_entraineur_edit_html=row.id_Entraineur) }}" role="button">Edit</a>
                    </td>
                    <td class="align-middle">
                        <a class="btn btn-danger" href="{{ url_for('entraineur_select_delete', id_entraineur_delete_html=row.id_Entraineur) }}" role="button">Delete</a>
                    </td>
                </tr>

            </tbody>
            {% else %}
            <tbody>
                <tr>
                    <td>
                        Aucun matériel.
                    </td>
                    <td>
                        <a class="btn btn-primary" href="{{ url_for('entraineur_add') }}" role="button">Add</a>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}