{% extends "base.html" %}
{% block title %}Update Entraineur{% endblock %}
{% block body %}
<div class="container">
    <div class="col-md-12">
        <form method="POST" action="{{ url_for('entraineur_update') }}">
            <div>

            </div>
            <br>
            <table class="table table-bordered table-sm">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>N° Licence</th>
                    </tr>
                </thead>
                {% for row in data %}
                    <tr>
                        <td><input name="id_entraineur_edit_html" type="hidden" value="{{ row.id_Entraineur }}"></td>
                        <td><input type="text" name="name_edit_name_entraineur_html" value="{{ row.Nom_Entraineur }}"> </td>
                        <td><input type="text" name="name_edit_firstname_entraineur_html" value="{{ row.Prenom_Entraineur }}"> </td>
                        <td><input type="text" name="name_edit_JSNumber_entraineur_html" value="{{ row.NumeroJS_Entraineur }}"> </td>
                        <td><button class="btn btn-warning" type="submit">Update</button> </td>
                    </tr>
                {% endfor %}
            </table>
        </form>
    </div>
</div>

{% endblock %}