{% extends "base.html" %}
{% block title %} Ajouter un ENTRAINEUR {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p style="margin-top: 10%">
                Entrer un nouvel entraineur
            </p>
            <form method="post">
                <div class="form-group">
                    <label id="Nom">
                        Nom
                    </label>
                    <input type="text" class="form-control" name="name_entraineur_html" />
                    <label id="Matos_materiel">
                        Prénom
                    </label>
                    <input type="text" class="form-control" name="firstname_entraineur_html" />
                    <label id§="Matos_materiel">
                        N° Licence
                    </label>
                    <input type="text" class="form-control" name="JSNumber_entraineur_html" />
                </div>
                <button type="submit" class="btn btn-primary">
                    Enregistrer l'entraineur
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
