{% extends "base.html" %}
{% block title %}DELETE ExoTest{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form method="POST" action="{{ url_for('exercice_delete') }}">

                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Visuel</th>
                            <th>Nom</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tr>
                            <td><input type="hidden" name="id_exercice_delete_html" value="{{ row.id_Exercice }}"></td>
                            <td>{{ row.Visuel_Exercice }}</td>
                            <td>{{ row.Nom_Exercice }}</td>
                            <td>{{ row.Description_Exercice }}</td>
                            <td><button class="btn btn-danger" type="submit">EFFACER</button></td>
                        </tr>
                    {% endfor %}
                </table>
            </form>
        </div>
    </div>
</div>

{% endblock %}