{% extends "base.html" %}
{% block title %} Ajouter un EXERCICE {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p style="margin-top: 10%">
                Entrer un nouvel exercice
            </p>
            <form method="post">
                <div class="form-group">
                    <label for="Nom_exercice">
                        Nom exercice
                    </label>
                    <input type="text" class="form-control" name="name_exercice_html" />
                    <label for="Visuel_exercice">
                        Visuel exercice
                    </label>
                    <input type="text" class="form-control" name="visuel_exercice_html" />
                    <label for="Description_exercice">
                        Description exercice
                    </label>
                    <input type="text" class="form-control" name="description_exercice_html" />
                </div>
                <button type="submit" class="btn btn-primary">
                    Enregistrer l'exercice
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
