{% extends "base.html" %}
{% block title %} Update Exercice {% endblock %}
{% block content %}
<div class="container">
    <div class="col-md-12">
        <form method="post" action="{{ url_for('exercice_update')}}">
                <div>

                </div>
                <br>
                <table border="1" cellpadding="5" cellspacing="5">
                    <thead>
                        <tr>
                            <th>ID Exercice</th>
                            <th>Nom</th>
                            <th>Visuel</th>
                            <th>Description</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tr>
                            <td><input type="hidden" name="" value="{{ row.id_Exercice }}"></td>
                            <td><input type="text" name="name_edit_nom_exercice_html" value="{{ row.Nom_Exercice}}"> </td>
                            <td><input type="text" name="name_edit_visuel_exercice_html" value="{{ row.Visuel_Exercice}}"> </td>
                            <td><input type="text" name="name_edit_description_exercice_html" value="{{ row.Description_Exercice}}"> </td>
                            <td><button class="btn btn-warning" type="submit">Update</button> </td>
                        </tr>
                    {% endfor % }
                </table>
            </form>
    </div>
</div>

{% endblock %}