{% extends "base.html" %}
{% block title %}Afficher EXERCICES{% endblock %}
{% block body %}
<br>
<br>
<br>
<div class="container">
    <div class="col-md-12">
        <table class="table table-bordered table-sm">
        {% if data %}
            <thead>
                <tr>
                    <th class="align-middle">
                        ID
                    </th>
                    <th class="align-middle">
                        Visuel
                    </th>
                    <th class="align-middle">
                        Nom
                    </th>
                    <th class="align-middle">
                        Description
                    </th>
                </tr>
            </thead>
            {% endif %}

            {% for row in data %}
            <tbody>
                <tr>
                    <td class="align-middle">
                        {{ row.id_Exercice }}
                    </td>
                    <td class="align-middle">
                       <iframe width="300" height="300" src={{ row.Visuel_Exercice }}  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    </td>
                    <td class="align-middle">
                        {{ row.Nom_Exercice}}
                    </td>
                    <td class="align-middle">
                        {{ row.Description_Exercice|default("", True) }}
                    </td>
                    <td class="align-middle">
                        <a class="btn btn-warning" href="{{ url_for('exercice_edit', id_exercice_edit_html=row.id_Exercice) }}" role="button">Edit</a>
                    </td>
                    <td class="align-middle">
                        <a class="btn btn-danger" href="{{ url_for('exercice_select_delete', id_exercice_delete_html=row.id_Exercice) }}" role="button">Delete</a>
                    </td>
                    <td class="align-middle">
                        <a class="btn btn-primary" href="{{ url_for('exercice_add') }}" role="button">Add</a>
                    </td>
                </tr>
            </tbody>
            {% else %}
            <tbody>
                <tr>
                    <td>
                        Aucun exercice.
                    </td>
                    <td>
                        <a class="btn btn-primary" href="{{ url_for('exercice_add') }}" role="button">Add</a>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div>

<!--<div class="home">-->
<!--    <form method="POST" action="">-->
<!--    <div>-->
<!--        {{ msgHtml }}-->
<!--    </div>-->
<!--    <br>-->
<!--    <table border="1" cellpadding="5" cellspacing="5">-->
<!--        <thead>-->
<!--            <tr>-->
<!--                <th>id</th>-->
<!--                <th>Visuel</th>-->
<!--                <th>Nom</th>-->
<!--                <th>Description</th>-->
<!--                <th>E</th>-->
<!--                <th>D</th>-->
<!--                <th>A</th>-->
<!--            </tr>-->
<!--        </thead>-->
<!--        {% for row in data %}-->
<!--            <tr>-->
<!--                <td>{{ row.id_Exercice }}</td>-->
<!--                <td>{{ row.Visuel_Exercice }}</td>-->
<!--                <td>{{ row.Nom_Exercice }}</td>-->
<!--                <td>{{ row.Description_Exercice|default("", True) }}</td>-->
<!--                <td>-->
<!--                    <a href="{{ url_for('exercice_edit', id_exercice_edit_html=row.id_Exercice) }}">Edit</a>-->
<!--                </td>-->
<!--                <td>-->
<!--                    <a href="{{ url_for('exercice_select_delete', id_exercice_delete_html=row.id_Exercice) }}">Delete</a>-->
<!--                </td>-->
<!--                <td>-->
<!--                    <a href="{{ url_for('exercice_add') }}">Add</a>-->
<!--                </td>-->
<!--            </tr>-->
<!--        {% endfor %}-->
<!--    </table>-->
<!--    </form>-->

<!--</div>-->
{% endblock %}